/*All content */

/*Humburger-Menu*/

  /*botan*/

  .menu-btn {
    position: fixed;
    top: 10px;
    right: 20px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: #006400;
    border-radius: 50%;    
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
}
.menu-btn span:before {
    bottom: 8px;
}
.menu-btn span:after {
    top: 8px;
}


#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}

#menu-btn-check {
  display: none;
}

/*                  menu-check-btn end,menu-content start                  */

.menu-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;
  z-index: 80;
  background-color: #f8f8ff;
  transition: all 0.7s;/*アニメーション設定*/
}
.menu-content ul {
  padding: 70px 10px 0;
}
.menu-content ul li {
  border-bottom: solid 1px #ffffff;
  list-style: none;
}
.menu-content ul li a {
  display: block;
  width: 100%;
  font-size: 15px;
  box-sizing: border-box;
  color:#ffffff;
  text-decoration: none;
  padding: 9px 15px 10px 0;
  position: relative;
}
.menu-content ul li a::before {
  content: "";
  width: 7px;
  height: 7px;
  border-top: solid 2px #ffffff;
  border-right: solid 2px #ffffff;
  transform: rotate(45deg);
  position: absolute;
  right: 11px;
  top: 16px;
}

#menu-btn-check:checked ~ .menu-content {
  left: 0;/*メニューを画面内へ*/
}

/*トップに戻るあれ*/

html{
  scroll-behavior: smooth;
}









/*おわり*/


/*menu-end*/


@media all and (max-width: 767px){
    /*スマホ*/

  /*menu*/

  .Menu-Group-Item {
    display: flex;
    padding: 10px;
    text-align: center;
    
  }
  
  
  .Menu-Group-Item-Link {
    padding: 1.3em ;
    align-items: center;
    flex-wrap: nowrap;
    border: solid 2px #111;
    background: rgba(255, 255, 255, 0);
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.02em;
    width: 35%;

  }
  /*menu end*/

  /*うえにもどるあれ*/
    .gotop{
      width: 40px;
      height: 40px;
      text-indent: -9999px;
      opacity: 1;
      border: none;
      background: none;
      bottom: 10px;
      right: 10px;
  }

  .gotop::before{
      bottom: 0;
  }

  /*おわり*/

}

@media all and (min-width: 768px){
    /*PC*/

  /*menu*/

  .Menu-Group-Item {
    display: flex;
    justify-content: center;
    padding: 10px;
    text-align: center;
    
  }
  
  
  .Menu-Group-Item-Link {
    padding: 1.5em ;
    align-items: center;
    flex-wrap: nowrap;
    border: solid 2px #111;
    background: rgba(255, 255, 255, 0);
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.02em;
    width: 25%;

  }

  /*menu-end*/

  /*うえにもどる*/
  
  .gotop{
    display: block;
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    background: #363636;
    border: 1px solid rgb(0, 0, 0);
    padding-top: 30px;
    text-align: center;
    letter-spacing: -1px;
    font-size: 85%;
    text-decoration: none;
    color: #fff;
    opacity: 0.5;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10000;
  }
  
  .gotop::before{
    content: "";
    display: block;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    width: 25%;
    height: 25%;
    top: 25%;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    transform: rotate(-45deg);
  }
  
  .gotop:hover{
    opacity: 1;
  }  
/*owari*/
    

}